/*! #1464f6 azul
    #eef5fb cinza claro
    #b7d7fb cinza
    #003984 azul escuro*/

*{
    font-family: 'Montserrat';
}

body{
    background-color: #eef5fb;
}

footer{
    text-align: center;
    background-color: #1464f6;
}