/*! #1464f6 azul
    #eef5fb cinza claro
    #b7d7fb azul claro
    #003984 azul escuro*/

* {
    font-family: 'Source Sans 3';
}

body {
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
}

.first {
    order: 1;
    text-align: center;
    font-size: 15px;
}

.second {
    order: 2;
    background-image: linear-gradient(to bottom, #90c4ff, white);
    width: 60%;
    text-align: center;
    font-size: 15px;
}

/*HEADER*/

header{
    display: flex;
    flex-direction: row;
}

/*NAVBAR*/

.logo{
    order: 1;
}

.topnav {
    order: 2;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: #1464f6;
}

.topnav a {
    float: left;
    color: #1464f6;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav p{
    color: #1464f6;
}

/*BOTÕES*/

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}

.rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}

.btn {
    margin-right: 20px;
    margin-top: 20px;
    border: none;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color: #949494;
    color: #fff;
}

.btn:hover {
    background-color: #1464f6;
    color: aliceblue;
}

.btn1 {
    order: 1;
}

.btn2 {
    order: 2;
}

.btn3 {
    order: 3;
}

.btn4 {
    order: 4;
}

.btn5 {
    order: 5;
}

/*FOOTER*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: #1464f6;
}